# Source code
src/

# Tests
coverage/
tests/

# Git
.githooks/
.gitignore

# Npm
.npmignore

# Lints
.eslintrc.js
.prettierignore
.prettierrc.js

# Jest
jest.config.js

# Rollup
rollup.config.js

# Typescript
tsconfig.json
