# Source code
src/

# Testing
coverage/
testing/

# Git
.githooks/
.gitignore

# Npm
.npmignore

# Lints
.eslintrc.js
.prettierignore
.prettierrc.js

# Jest
jest.config.js

# Typescript
tsconfig.build_dts.json
tsconfig.build.json
tsconfig.json
